<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="bj">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title">AVO SHOPPER</h1>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                      <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>

                   
                </a>
                <div class="hidden">
                      <p aria-hidden="false"><a href="/" class="navbar-item"> Home</a></p>
                        <p aria-hidden="false"><a href="/deals" class="navbar-item">Deals</a></p>
                        <p aria-hidden="false"><a href="/add/deal" class="navbar-item">Add New Deal</a></p>
                        <p> <a href="/add/shop" class="navbar-item">Add New Shop</a></p>
                </div>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                    <a href="/" class="navbar-item"> Home</a>
				</a>

                    <a class="navbar-item" href="/deals">
                    <a href="/deals" class="navbar-item">Deals</a>
				  
				</a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
					More
				  </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                <a href="/add/deal" class="navbar-item">Add New Deal</a>
					  
					</a>
                            <a class="navbar-item">
                                <a href="/add/shop" class="navbar-item">Add New Shop</a>
					</a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    {{{body}}}
</body>
<script>
    var burger = document.querySelector('.navbar-burger');
    var count = 0;
    burger.addEventListener('click', ()=>{
        console.log(burger)
        var div =document.querySelector('.hidden');
        console.log(div)
        div.style.display = 'block';
        if(count === 0){
            count++
            div.style.display = 'block';
        }else{
            count--
            div.style.display = 'none';
        }
        
    })
</script>
</html>