<br> <br> <br>
<div class="container has-background-light has-text-centered"> <br> <br>
    <div class="form">
        <form action="/newshop" method="post">
        <h1 class="title">Add New Shop</h1> <br>
        <label for="shopname">Shop name:</label> <br> <br>
        <input type="text" name="shop" placeholder="Fruit n Veg"> <br> <br>
        <button type="submit" class="button is-info">Submit</button> <br> <br>
    </form></div>
</div>