<br> <br>
<div class="container">
    <div class="blocks">
        <h1 class="subtitle">Home</h1>
    </div> <br> <br>
    <div class="columns is-mobile">
        {{#each data}}
            <div class="column">
            <div class="card ">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://southafrica.co.za/images/avocados-chris-wessels-photography-9-786x524.jpg" alt="Avocado image" class="img">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-4">{{this.shop_name}}</p> <br>
                    <p class="tittle is-5">R{{this.price}}</p>
                    <p>QTY : {{this.qty}}    </p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<style>
    .columns{
        width: 80%;
        margin: auto;
    }
    .column{
        max-width: 20%;
        height: auto;
    }
     .blocks {
        width: 40%;
        min-height: 40px;
        background-color: lightgray;
        margin: auto;
        text-align: center;
    }
</style>




