<br> <br>
<div class="container">
    <div class="blocks">
        <h1 class="subtitle">Details for {{shopName}}</h1>
    </div> <br> <br>
    <div class="flow">
        {{#each data}}  <div class="columns is-mobile">
        
            <div class="column">
            <div class="card ">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://southafrica.co.za/images/avocados-chris-wessels-photography-9-786x524.jpg" alt="Avocado image" class="img">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-4">R{{this.price}}</p>
                    <p>QTY: {{this.qty}}</p>
                </div>
            </div>
        </div>
       
    </div>
         {{/each}}
    </div>
  
</div>

<style>
   .columns{
        width: 100%;
    }
    .flow{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .column{
        max-width: 100%;
        height: auto;
    }
</style>












<style>
    .blocks {
        width: 40%;
        min-height: 40px;
        background-color: lightgray;
        margin: auto;
        text-align: center;
    }
  
</style>
<script defer src="/js/images.js"></script>